.planner-container {
  .week {
    .days {
      .day {
        .day-name {
          font-weight: 500;
          padding: 4px 0;
          border-bottom: 1px solid #eee;
        }
        .plans {
          padding-top: 8px;
          display: flex;
          justify-items: start;
          flex-wrap: wrap;
          .plan {
            transition: .5s all;
            position: relative;
            min-height: 100px;
            cursor: pointer;
            padding: 8px;
            // border: 1px solid #eee;
            box-shadow: 1px 3px 5px #eee;
            padding: 10px;
            flex: 22%;
            flex-grow: 0;
            margin: 8px;
            .plan-name {
              font-size: 12px;
            }
            .plan-items {
              display: flex;
              padding: 8px 0;
              .plan-item {
                margin-right: 4px;
                text-align: center;
                // border: 1px solid #eee;
                box-shadow: 1px 3px 5px #eee;
                padding: 4px;
                .plan-item-image {
                  width: 60px;
                  height: 45px;
                  border: 1px solid #eee;
                }
                .plan-item-name {
                  font-size: 12px;
                }
              }
            }
            &:hover {
              transform: scale(1.05);
            }
            .add-button {
              width: 100%;
              height: 100%;
              &:after {
                content: "+";
                font-size: 100px;
                position: absolute;
                top: 0;
                left: 50%;
                right: 0;
                margin-left: -30px;
                color: #eee;
              }
            }
          }
        }
      }
    }
  }
  .sidenav-container {
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0);
    &.open {
      background-color: rgba(0, 0, 0, .5);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      .sidenav {
        width: 400px;
      }
    }
    .no-items {
      text-align: center;
    }
    .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      right: 0;
      background-color: #eee;
      overflow-x: hidden;
      transition: 0.5s; // padding-top: 30px;
      .footer {
        position: relative;
        .add-to-plan-btn {
          background-color: green;
          padding: 16px;
          color: white;
          text-align: center;
          position: fixed;
          bottom: 0;
          width: 400px;
          cursor: pointer;
        }
      }
      .heading {
        // color: #f1f1f1;
        border-bottom: 1px solid #aaa;
        margin-top: 8px;
        padding: 8px;
      }
      .list {
        padding-bottom: 40px;
        .list-items {
          padding: 0;
          list-style: none;
          .list-item {
            font-size: 14px;
            padding: 8px;
            .list-item-heading {
              // border-bottom: 1px solid #aaa;
              font-size: 16px;
              margin-bottom: 4px;
              &:before {
                content: "• "
              }
            }
            .list-category-items {
              list-style: none;
              padding: 0;
              display: flex;
              justify-content: start;
              flex-direction: row;
              align-items: center;
              flex-wrap: wrap;
              .list-category-item {
                transition: .5s all;
                display: flex;
                flex: 43%;
                flex-grow: 0;
                margin: 4px;
                justify-content: center;
                box-shadow: 1px 3px 5px #ccc;
                padding: 8px;
                cursor: pointer;
                &.selected {
                  color: white;
                  background-color: rgba(5, 208, 49, 0.5);
                }
                &:hover {
                  transform: scale(1.05);
                }
              }
            }
          }
        }
      }
      .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }
    }
  }
}